name: CI

# Controls when the workflow will run
on: [push, pull_request]
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    env:
      JULIA_NUM_THREADS: ${{ matrix.threads }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - 'lts' # long-term support release
          - '1'   # latest stable 1.x release
         # - 'pre' # latest stable prerelease
        arch:
          - x64
          - x86
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        threads:
          - '1'
          - '4'
        exclude:
          # MacOS not available on x86
          - {os: 'macOS-latest', arch: 'x86'}

    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/cache@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
